<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605058381777-ncgg49keg91smuscr7dudfkkfik3nooh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605058381777-ncgg49keg91smuscr7dudfkkfik3nooh</string>
	<key>API_KEY</key>
	<string>AIzaSyDCspGCl0ZLCMtsMr20_PNPo5t-6DKImVw</string>
	<key>GCM_SENDER_ID</key>
	<string>605058381777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makemycoolApp.LetsChat</string>
	<key>PROJECT_ID</key>
	<string>letschat-79500</string>
	<key>STORAGE_BUCKET</key>
	<string>letschat-79500.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605058381777:ios:2aff0e081bedcf1bfc92f0</string>
</dict>
</plist>